<table class="table table-hover">
  <thead>
  <tr>
      <td>Product Name</td>
      <td>Product Description</td>
      <td>Product Price</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let product of products">
          <td>{{ product.ProductName }}</td>
          <td>{{ product.ProductDescription }}</td>
          <td>{{ product.ProductPrice }}</td>
          <td><a [routerLink]="['/edit', product.ProductId]" class="btn btn-primary">Edit</a></td>
          <td><a (click) = "deleteProduct(product.ProductId)" class="btn btn-danger">Delete</a>
      </tr>
  </tbody>
</table>